{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Pourquoi donner ? {% endblock %}</h1>
        <fieldset class="fieldset2">
<h4>Un Kebab pour Pereg</h4>
Parce que donner, c'est prendre en main votre quotidien médiocre et transformer votre vie en une aventure de chaque instant.<br>C'est mettre à mal l'odre des choses, c'est jeter une première pierre à la face de la sacro-sainte consommation, c’est entamer une révolution.<br>  <br> Participer au kebab de Pereg, c'est évidemment nourrir Pereg.<br>  Mais c'est également devenir quelqu'un d'important, c'est laisser une trace, éviter que personne ne se souvienne de vous quand vous serez mort. <br> <br> Car Pereg s'en souviendra.
        </fieldset>

                <fieldset class="fieldset2">
<h4>Participez à nos autres projets :</h4>
<a href="#">Une coupe de cheveux pour Julien </a><br><br><a href="#"> Un PCR pour Stéphane </a><br><br><a href="#"> Un sweat rose pour Erwan </a><br><br><a href="#"> La légion d'honneur pour Tatiana </a><br><br><a href="#"> Une piscine pour Aude</a><br><br><a href="#"> La canonisation pour Paul </a><br><br> 


        </fieldset>
{% endblock %}